<div *ngIf="pelicula" class="container">
  <div class="text-center">
    <h1>{{ pelicula.title }}</h1>
    <hr />
    <img [src]="pelicula | poster" alt="">
  </div>
  <span *ngIf="!pelicula.adult" class="badge badge-info m-1">Es apto para todo publico</span>
  <span *ngIf="pelicula.adult" class="badge badge-danger m-1">Es para mayores</span>
  <span class="badge badge-warning m-1">lenguaje original : {{pelicula.original_language}}</span>
  <span class="badge badge-dark m-1">Fecha de salida : {{pelicula.release_date}}</span>
  <span *ngIf="pelicula.production_companies[0]" class="badge badge-primary m-1">Hecho por: {{pelicula.production_companies[0].name}}</span>
  <span *ngIf="pelicula.budget" class="badge badge-secondary m-1">presupuesto : {{pelicula.budget}}</span>
  <span class="badge badge-light m-1">estado: {{pelicula.status}}</span>
  <p>{{pelicula.overview}}</p>
  <a *ngIf="pelicula.homepage" [href]="pelicula.homepage" target="_blank" class="form-control btn btn-outline-primary">Ir a la Pagina principal</a>
  <h3>Vista de la pelicula:</h3>
  <div class="text-center">
    <img [src]="pelicula | image " alt="">
  </div>
  <h3>voto {{pelicula.vote_average}}/10</h3>
  <button class="form-control btn btn-outline-danger" (click)="salir ()">Salir</button>
</div>
<br>
<br>
<br>
<br>
<br>
